<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="https://img.icons8.com/external-vectorslab-flat-vectorslab/53/000000/external-books-education-vectorslab-flat-vectorslab.png"
    />
    <title>你不知道的JavaScripe(下卷)</title>
    <style>
      * {
        padding: 0px;
        margin: 0px;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
    </style>
  </head>
  <body>
    <iframe
      src="../assets/你不知道的JavaScript（下卷）.pdf"
      width="100%"
      height="100%"
      frameborder="1"
    ></iframe>
  </body>
</html>
