<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./assets/css/style.css" />
    <title>BusinessCardParallax</title>
  </head>
  <body>
    <div class="card">
      <div class="left-a"></div>
      <div class="left-b"></div>
      <div class="right-a"></div>
      <div class="right-b"></div>
      <h1 class="title">Hi,Welcome!</h1>
    </div>
    <h2 class="ending">
      视觉差名片：左右两边各两个<span style="color: crimson">div元素</span
      >，通过<span style="color: crimson">伪元素::after</span
      >将图片插入到左右四个元素上，<span style="color: crimson"
        >transform: rotateZ()</span
      >控制斜度在页面交叉显示，最后通过<span style="color: crimson"
        >伪类:hover</span
      >控制四个<span style="color: crimson">div元素</span
        >的左右移动，实现鼠标划入动效，最终完成效果。
    </h2>
  </body>
</html>
